extends layout
block button
    button.btn.btn-info.dim.btn-outline.c-button(type="button",data-toggle="modal",data-target="#addModal") 添加
block main
    table.table.table-striped.table-bordered.table-hover
        thead
            tr
                td id
                td 名字
                    i.fa.fa-pencil.c-edit
                td 密码
                    i.fa.fa-pencil.c-edit
                td 身份
                    i.fa.fa-pencil.c-edit
                td 操作
        tbody
            for admin in admins
                tr(data-id="#{admin.id}")
                    td #{admin.id}
                    td.editable(data-field="name") #{admin.name}
                    td.editable(data-field="password") #{admin.password}
                    td.editable(data-field="role") #{admin.role}
                    td
                        button.j-remove.btn.btn-primary 删除
    #addModal.modal.inmodal.in(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
        .modal-dialog
            .modal-content.animated.bounceInRight
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    i.fa.fa-plus-square.modal-icon
                    h4.modal-title 添加新管理员
                    small.font-bold 输入账户，密码和身份，身份有两种：a.管理员  b.订单运营
                .modal-body
                    .form-group
                        label 输入用户名
                        input.form-control(type='text', placeholder='Enter your name')
                    .form-group
                        label 输入密码
                        input.form-control(type='password', placeholder='Enter your password')
                    .form-group
                        label 输入角色
                        input.form-control(type='text', placeholder='Enter your role')
                .modal-footer
                    button.btn.btn-white(type='button', data-dismiss='modal',style="margin-bottom: 0px; ") 取消
                    button.btn.btn-primary(type='button') 添加


block scripts

    script(src="/js/mod/moment.js")
    script(src="/js/mod/editable-cell.js")
    script(src="/js/mod/map-pane.js")
    script(src="/js/page/admin/index.js")
    script(src="/js/page/admin/admins.js")
