extends layout
block main
    table.table.table-striped.table-bordered.table-hover
        thead
            tr
                td 设备号
                td 商户id
                td 商户名
                td 地址 / 电话
                td 快递单号
                td 快递收单人
                td 电话序列号
                td 设备序列号
                td 设备机型
                td 状态
                td 备注
                td 是否统计
                td 操作
        tbody
            //for device in devices
            //    tr(data-status=device.Status,
            //        data-shopid="#{device.ShopId}",
            //        data-deviceid="#{device.DeviceId}"
            //        data-expressno=device.ExpressNo)
            //        td #{device.DeviceId}
            //        td #{device.ShopId}
            //        td #{device.ShopName} #{device.BranchName}
            //        td #{device.Address}
            //            br
            //            | #{device.PhoneNo}
            //        td.editable(data-field="expressNo") #{device.ExpressNo}
            //        td.editable(data-field="expressDetail") #{device.ExpressDetail}
            //        td.editable(data-field="phoneSerial") #{device.PhoneSerial}
            //        td.editable(data-field="osSerial") #{device.OsSerial}
            //        td.editable(data-field="osType") #{device.OsType}
            //        td
            //            select.select-status.form-control
            //                each item, key in statuses
            //                    option(selected=item.value==device.Status,value=item.value) #{item.text}
            //        td.editable(data-field="comment") #{device.Comment}
            //        td
            //            select.select-statistics.form-control
            //                option(selected=device.IfStatistics==1,value=1) 参与
            //                option(selected=device.IfStatistics==0,value=0) 不参与
            //        td
            //            if canBindDevice
            //                if !device.ShopId
            //                    a.assign-shop(href="javascript:;") 绑定商户
            //                else
            //                    a.resign-shop(href="javascript:;") 解绑商户
            //            a.check-history(href="javascript:;") 操作历史
            //            a.check-express(href="javascript:;") 快递追单


    //+modal("更改状态","modal-change-status-info","更改")
    //    input.ipt-device-id(type="hidden")
    //    input.ipt-status(type="hidden")
    //    +field("执行人")
    //        select.form-control.ipt-ref-user
    //            option(value="") --
    //            each user in users
    //                option(value=user.Username) #{user.Username}
    //    +field("执行日期")
    //        input.ipt-action-time.form-control(value=today)
    //    +field("快递单号")
    //        input.ipt-express-no.form-control(placeholder="快递单号")
    //    +field("备注")
    //        textarea.ipt-comment.form-control(rows=5,placeholder="备注")
    //
    //+modal("操作历史", "modal-action-history" , "关闭")
    //    .ibox-title
    //        ul.nav.nav-tabs
    //            li.active
    //                a(href="javascript:;") 商户记录
    //            li
    //                a(href="javascript:;") 设备记录
    //    .ibox-content
    //        .tab-content
    //            .tab-pane.pane-shop.active
    //                .feed-activity-list.shop-history
    //            .tab-pane.pane-device
    //                .feed-activity-list.device-history

    //
    //+modal("添加设备","modal-add-device","添加")
    //    +field("设备id",true)
    //        input.ipt-deviceid.form-control(maxlength=12,type='text',value="GGD12014",required)
    //
    //+modal("绑定商户","modal-assign-shop","绑定")
    //    .form-group
    //        label 商户id
    //        input.ipt-deviceid(type='hidden')
    //        input.ipt-shopid.form-control(maxlength=12,type='text',value="",required)


block scripts

    script.
      var shops = !{JSON.stringify(devices)};
      var canUpdateDeviceDetail = #{canUpdateDeviceDetail};
    script(src="/js/mod/moment.js")
    script(src="/js/mod/editable-cell.js")
    script(src="/js/mod/map-pane.js")
    //script(src="/js/page/base.js")
    //script(src="/js/page/device.js")
    //script(src="/js/plugins/flot/jquery.flot.js")
    //script(src="/js/plugins/flot/jquery.flot.pie.js")
    script(src="/js/plugins/flot/jquery.flot.resize.js")
    //script(src="/js/plugins/flot/jquery.flot.tooltips.min.js")
    //script.
    //    //Flot Pie Chart
    //    $(function () {
    //        var data = [{
    //            label: "待配置",
    //            data: #{statistic[0]},
    //            color: "#d3d3d3"
    //        }, {
    //            label: "使用中",
    //            data: #{statistic[1]},
    //            color: "#1ab394"
    //        }, {
    //            label: "已到货",
    //            data: #{statistic[2]},
    //            color: "#79d2c0"
    //        }, {
    //            label: "已发货",
    //            data: #{statistic[3]},
    //            color: "#19BB9A"
    //        }, {
    //            label: "已联系",
    //            data: #{statistic[4]},
    //            color: "#24FACF"
    //        }, {
    //            label: "已配置",
    //            data: #{statistic[5]},
    //            color: "#F5E322"
    //        }, {
    //            label: "问题设备",
    //            data: #{statistic[6]},
    //            color: "#F79F00"
    //        }, {
    //            label: "已取回",
    //            data: #{statistic[7]},
    //            color: "#F79F00"
    //        }];
    //        var plotObj = $.plot($("#flot-pie-chart"), data, {
    //            series: {
    //                pie: {
    //                    show: true
    //                }
    //            },
    //            grid: {
    //                hoverable: true
    //            },
    //            tooltip: true,
    //            tooltipOpts: {
    //                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
    //                shifts: {
    //                    x: 20,
    //                    y: 0
    //                },
    //                defaultTheme: false
    //            }
    //        });
    //    });