doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
        title 点餐网
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="font-awesome/css/font-awesome.css", rel="stylesheet")
        link(href="css/animate.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        link(href="css/mine/main.css", rel="stylesheet")
        script(src='js/jquery-1.10.2.js')
        script(src="js/bootstrap.min.js")

    body(style="background-color: #F3F3F4;")
        .c-head
            .c-header
                .j-lists-header.c-lists-header
                    h2 菜谱
                    span.btn.btn-primary.j-activity-btn 活动
                .j-chosen-header.hide
                    h2 已选
                .j-mine-header.hide
                    h2 我的
        .row.white-bg.c-lists

            //这里是放菜单的
            .j-show-lists
                .c-kinds.j-kinds
                    span.c-chosen-kind(data-kind="0") 特色
                    span(data-kind="1") 荤菜
                    span(data-kind="2") 素菜
                    span(data-kind="3") 饮品
                    span(data-kind="4") 主食
                for menu in menus
                    .c-item.clearfix.j-item(data-id="#{menu.id}",data-kind="#{menu.kind}")
                        .c-picture
                            img.c-img(src="http://pic4.nipic.com/20090728/3135030_132238077_2.jpg")
                        .c-food
                            h2 #{menu.name}
                            h3 #{menu.description}
                            .c-num.j-num.hide
                                i.fa.fa-minus-square.j-minus
                                input(type="num", name="num", value=1)
                                i.fa.fa-plus-square.j-plus
                            .c-choose.j-choose
                                i ￥#{menu.price}
                                i.j-use-credit #{menu.creditprice}两


            //这里是放已选的
            .j-show-chosen.hide
                .j-orders
                .j-submit
                    button.btn.btn-primary.c-only-btn.j-submit-btn
                        |  提交

            .j-show-mine.hide
                for user in users
                    .user-info
                        img.c-img(src="http://pic4.nipic.com/20090728/3135030_132238077_2.jpg")
                        h2 #{user.telephone}
                        h3 #{user.creditnow}
                        h3 #{user.creditall}
        .c-foot
            .j-main-foot.c-foot-div.c-foot-chosen
                div.text-center
                    i.fa.fa-home.c-foot-i
                div.text-center
                    span
                        |  主页
            .j-chosen-foot.c-foot-div
                div.text-center
                    i.fa.fa-check-square-o.c-foot-i
                div.text-center
                    span
                        |  已选
            .j-orders-foot.c-foot-div
                div.text-center
                    i.fa.fa-list-alt.c-foot-i
                div.text-center
                    span.j-orders-btn
                        |  订单
            .j-mine-foot.c-foot-div
                div.text-center
                    i.fa.fa-user.c-foot-i
                div.text-center
                    span
                        |  我的



        .c-tip.j-tip.hide
            h2 订单提交成功！
        .c-activity.j-activity
            span
                i.fa.fa-times.c-foot-i
            h2 今日活动
            for activity in activitys
                h3 #{activity.subject}
                h4 #{activity.detail}
        script(src='js/mine/main.js')