doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
        title Document
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="font-awesome/css/font-awesome.css", rel="stylesheet")
        link(href="css/animate.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        link(href="css/mine/main.css", rel="stylesheet")
        script(src='js/jquery-1.10.2.js')
        script(src="js/bootstrap.min.js")

    body(style="background-color: #F3F3F4;")
        .c-head
            .c-header
                .j-lists-header
                    h2 菜谱
                .j-orders-header.hide
                    h2 已点

        .row.white-bg.c-lists
            .c-kinds
                span 荤菜
                span 素菜
                span 饮品
                span 小吃
            //这里是放菜单的
            .j-lists
                for menu in menus
                    .c-item.clearfix.j-item(data-id="#{menu.id}")
                        .c-picture
                            img.c-img(src="http://pic4.nipic.com/20090728/3135030_132238077_2.jpg")
                        .c-food
                            h2 #{menu.name}
                            h4
                                span ￥
                                span.j-price #{menu.price}
                                span /份
                            h3.j-des #{menu.description}
                            .c-num.j-num.hide
                                i.fa.fa-minus-square.j-minus
                                input(type="num", name="num", value=1)
                                i.fa.fa-plus-square.j-plus
                        .c-choose.j-choose
                            i.fa.fa-check-circle-o
            //这里是放订单的
            .j-orders.hide

        .c-foot
            .j-mine
                button.btn.btn-primary.c-mine-btn.j-mine-btn
                    |  已点的菜品
            .j-submit.hide
                button.btn.btn-primary.j-submit-btn.c-submit-btn
                    |  提交
                button.btn.btn-primary.j-back-btn.c-back-btn
                    |  返回
        .c-tip.j-tip.hide
            h2 订单提交成功！
        script(src='js/mine/main.js')