extends layout
block main
    table.table.table-striped.table-bordered.table-hover
        thead
            tr
                td id
                td 菜名
                    i.fa.fa-pencil.c-edit
                td 描述
                    i.fa.fa-pencil.c-edit
                td 种类
                    i.fa.fa-pencil.c-edit
                td 价格
                    i.fa.fa-pencil.c-edit
                td 需要的积分
                    i.fa.fa-pencil.c-edit
                td 是否推荐
                    i.fa.fa-pencil.c-edit
                td 操作
        tbody
            for menu in menus
                tr(data-id="#{menu.id}")
                    td #{menu.id}
                    td.editable(data-field="name") #{menu.name}
                    td.editable(data-field="description") #{menu.description}
                    td.editable(data-field="kind") #{menu.kind}
                    td.editable(data-field="price") #{menu.price}
                    td.editable(data-field="creditprice") #{menu.creditprice}
                    td.editable(data-field="ifrecommend") #{menu.ifrecommend}
                    td
                        button.j-remove.btn.btn-primary 删除

block scripts

    script(src="/js/mod/moment.js")
    script(src="/js/mod/editable-cell.js")
    script(src="/js/mod/map-pane.js")
    script(src="/js/page/admin/index.js")
    script(src="/js/page/admin/menu.js")
